@{
    ViewData["Title"] = "Welcome to WIT";
}

<div class="text-center">
    <h1 class="display-4">Welcome To WIT</h1>
    <p>Learn about <a href=</div>
    <div>
    <a asp-action="Index">Back to List</a>>WIT and Who We Are</a>.</p>
</div>
