@{
    ViewData["Title"] = "About WIT";
}
<h1>@ViewData["Title"]</h1>

<p>WIT has been around since 1975 and we have proudly supported young Canadians with their education and Futures ever since.
    We have campuses located in Calgary, Edmonton, and Lethbridge. We offer many courses and programs ranging from Carpentry,
    Engineering, Mechanic, IT Service, and many many more! We hope you choose us as your next stepping-stone for your Future!
</p>
